In [12]:
num1 = int(input("Enter the first number for addition:"))
num2 = int(input("Enter the second number for addition:"))
answer = num1 + num2
print( " sum: " , answer)

Enter the first number for addition:5
Enter the second number for addition:6
 sum:  11

In [14]:
num1 = int(input("Enter the dividend for division:"))
num2 = int(input("Enter the divisor for division::"))
answer = num1 / num2
print( "Division:  " , answer)

Enter the dividend for division:25
Enter the divisor for division::5
Division:   5.0

In [18]:
num1 = int(input("Enter the lenght of the base of the triangle:"))
num2 = int(input("Enter the hight of the triangle:"))
answer = num1 * num2 / 2
print( "The area of triangle is: " , answer)

Enter the lenght of the base of the triangle:10
Enter the hight of the triangle:15
The area of triangle is:  75.0

In [29]:
num1 = int(input("Enter temperature in celsius:"))
answer = 9 / 5 * num1 + 32
print("degree celsius is equal to: " , answer)

Enter temperature in celsius:37
degree celsius is equal to:  98.60000000000001

In [37]:
a = 19
print( "the data type of 19 is; " , type(a))
b = 16.5
print( "the data type of 19 is; " , type(b))
c = ("asad")
print( "the data type of 19 is; " , type(c))
d = True
print( "the data type of 19 is; " , type(d))

the data type of 19 is;  <class 'int'>
the data type of 19 is;  <class 'float'>
the data type of 19 is;  <class 'str'>
the data type of 19 is;  <class 'bool'>